<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Les foodtrucks</h1>
    </div>
  </div>

  <div class="container">

    <div *ngFor="let foodtruck of foodtrucks" class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{foodtruck.name}}</h4>
            <!-- <h6 class="card-subtitle mb-2 text-muted">{{foodtruck.subtitle}}</h6> -->
            <h6 class="card-subtitle mb-2 text-muted"><a href="/foodtruck/{{foodtruck.id}}">Détails</a></h6>
            <p class="card-text">{{foodtruck.description}}</p>
            <a *ngFor="let day of foodtruck.days" href="/day/{{day}}" class="card-link">{{day | amParse:'E' | amDateFormat:'dddd'}}</a>
          </div>
        </div>
      </div>

    </div>

    <hr>

  </div>

</main>
