<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Par jour</h1>
      <p class="lead">{{day | amParse:'E' | amDateFormat:'dddd'}}</p>
    </div>
  </div>

  <div class="container">

    <div *ngFor="let foodtruck of foodtrucks" class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{foodtruck.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted"><a href="/app/foodtruck/{{foodtruck._id}}">Détails</a></h6>
            <p class="card-text">{{foodtruck.description}}</p>
            <a *ngFor="let day of foodtruck.days" href="/app/day/{{day}}" class="card-link">{{day | amParse:'E' | amDateFormat:'dddd'}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
